@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #274c5b;
  letter-spacing: 0.36px;
}

.wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-transform: capitalize;
}

h2 {
  color: #7eb693;
  font-family: "Yellowtail";
  text-transform: capitalize;
  font-size: 36px;
  line-height: 65px;
}

h3 {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 35px;
  text-transform: capitalize;
}

p {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 32px;
  color: #525c60;
}
