.products {
  padding: 130px 30px;
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    padding-bottom: 45px;
  }
}

.products__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  grid-auto-rows: 1fr;
}

.products__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto) / 1fr;
  background: #f9f8f8;
  border-radius: 30px;
  padding-bottom: 33px;
}

.products__image {
  position: relative;
  padding-bottom: 90%;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.products__button {
  max-width: 118px;
  max-height: 37px;
  background: #274c5b;
  border-radius: 8px;
  margin: 30px 0px 0px 30px;
  text-align: start;
  height: 37px;
  display: flex;
  align-items: center;

  span {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #ffffff;
    margin-left: 20px;
  }
}

.products__button-mill {
  width: 92px;
}

.products__button-fru {
  width: 84px;
}

.products__name {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 35px;
  padding: 20px 0px 0px 30px;
}

.products__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 30px 0px 30px;
  min-height: 50px;
  border-top: 1px solid #d4d4d4;
}

.products__price {
  min-width: 230px;

  span {
    &:first-child {
      font-family: "Open Sans";
      font-size: 17px;
      line-height: 32px;
      text-decoration-line: line-through;
      color: #b8b8b8;
      margin-right: 10px;
    }
    &:last-child {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
    }
  }
}
